body{
    font-family: 'Orbitron', sans-serif;
    background-color: #081f44;
    color: white;
}
h1{
    padding-top: 2rem;
    padding-left: 1.5rem;
    text-decoration: underline;
}
h2{
    padding-top: 4rem;
    text-decoration: underline;
}
label{
    text-decoration: underline;
}
.form-row{
    padding: 2rem;
}
.buttonSend{
    padding-bottom: 1rem;
}